@import '../../theme/variables.scss';
@import '../../theme/variables.scss';

.container-fluid {
  @include fluid-container();
}

.platform-wrapper {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  height: 90px;
  width: 100%;

  .logo {
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;

    .image {
      width: 120px;
    }
  }
}
