@import '../../theme/variables.scss';

:host {
  display: block;
}

.container-fluid {
  @include fluid-container();
}

a.item-link {
  text-decoration: none;
}

.platform-wrappers {
  background-color: white;
  height: 48px;
  display: flex;
  align-items: center;
  padding-left: $s-padding-gap;
}
