<mat-divider></mat-divider>
<section class="platform-wrappers sticky-element">
  <app-platform-selection [connectedServices$]="connectedServices$" (selectedPlatform)="selectedPlatform($event)"></app-platform-selection>
</section>
<mat-divider></mat-divider>
<div class="container-fluid" *ngIf="(artistsByPlatform$ | async) as artists">
  <div class="row">
    <div>
      <div class="mat-headline">Artists</div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-md-4 col-lg-3" *ngFor="let artistKey of artists | keyvalue">
      <div class="item-link" (click)="selectArtist(artistKey.key)">
        <app-artist-item [artistName]="artistKey.key" [artistDetails]="artistKey.value"></app-artist-item>
      </div>
    </div>

    <app-empty-results [message]="'Following No Artists'" *ngIf="(artists | keyvalue)?.length === 0 && !(loading$ | async)"></app-empty-results>
  </div>
</div>
