@import '../../../../theme/variables.scss';
@import '../../../../theme/ghost-animation';

:host {
  display: block;
}

.song-list {
  margin-top: $s-padding-gap;
  height: 100%;
}

.container-fluid {
  @include fluid-container();
}
