<section class="wrapper">
  <div class="platform">
    <img src="../../../assets/platforms/{{(currentTrack$ | async)?.platform}}.png" class="platform-logo" width="120">
  </div>
  <div class="music-info">
    <img [src]="(currentTrack$ | async)?.avatar" class="music-avatar">
    <div class="loading-avatar"></div>
    <div class="music-details">
      <span class="mat-body-1 text-ellipsis">{{(currentTrack$ | async)?.name}}</span>

      <div class="artist">
        <app-artist-links [platform]="(currentTrack$ | async)?.platform!" [artist]="(currentTrack$ | async)?.artist!"></app-artist-links>
      </div>
    </div>

    <div>
      <button mat-icon-button color="primary">
        <mat-icon>library_music</mat-icon>
      </button>

      <button mat-icon-button color="primary">
        <mat-icon>playlist_add</mat-icon>
      </button>
    </div>
    <a [href]="(currentTrack$ | async)?.externalUrl!" mat-button target="_blank">OPEN IN SPOTIFY</a>
  </div>
</section>
