<button cdkOverlayOrigin #trigger="cdkOverlayOrigin" (click)="clickHandler()"  mat-icon-button>
  <img [src]="(user$ | async)?.photoURL" class="button-avatar">
</button>

<ng-template cdkConnectedOverlay
    [cdkConnectedOverlayHasBackdrop]="true"
    [cdkConnectedOverlayBackdropClass]="'backdrop'"
    (backdropClick)="backdropClicked()"
    (detach)="overlayDetached()"
    [cdkConnectedOverlayOrigin]="trigger"
    [cdkConnectedOverlayOpen]="overlayIsOpen">

    <section class="overlay" [class.mat-elevation-z3]="true">
      <div class="top">
        <div class="user-info">
          <img [src]="(user$ | async)?.photoURL" class="large-avatar">
          <span class="mat-body-2">{{(user$ | async)?.displayName}}</span>
          <span class="mat-caption">{{(user$ | async)?.email}}</span>
        </div>
      </div>
      <mat-divider></mat-divider>
      <div class="bottom-bar">
        <button mat-stroked-button color="primary" (click)="signOut()">Sign out of account</button>
      </div>
    </section>
</ng-template>
