<button mat-icon-button [matMenuTriggerFor]="menu">
  <mat-icon>more_vert</mat-icon>
</button>

<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="addFavoriteHandler()">
    <mat-icon>favorite</mat-icon>
    <span>Add To Favorites</span>
  </button>
  <button mat-menu-item (click)="listenLaterHandler()">
    <mat-icon>headphones</mat-icon>
    <span>Listen Later</span>
  </button>
  <button mat-menu-item (click)="addToPlaylistHandler()" *ngIf="isAlbum === false">
    <mat-icon>playlist_add</mat-icon>
    <span>Add To Playlist</span>
  </button>

  <button mat-menu-item (click)="addToPlaylistHandler()" *ngIf="isAlbum === true">
    <mat-icon>list</mat-icon>
    <span>View Track List</span>
  </button>
</mat-menu>
