<mat-divider></mat-divider>
<div class="container-fluid fixed-height">
  <div class="row fixed-height">
    <div class="col-md-5 col-lg-3">
      <app-album-avatar
        [artist]="(artistAlbum$ | async)?.artist!"
        [platform]="(artistAlbum$ | async)?.platform!"
        [avatar]="(artistAlbum$ | async)?.pictures?.large!"
        [releaseDate]="(artistAlbum$ | async)?.releaseDate!"
        [totalTracks]="(artistAlbum$ | async)?.totalTracks!"
        [name]="(artistAlbum$ | async)?.name!">
      </app-album-avatar>
    </div>
    <div class="col-md-7 col-lg-9 fixed-height">
      <section class="songs-list-wrapper">
        <section class="song-list">
          <app-song-item
            *ngFor="let song of songs$ | async"
            [name]="song.name"
            [id]="song.id"
            [length]="song.length"
            [totalTracks]="song.totalTracks"
            [platform]="song.platform"
            [avatar]="song?.pictures?.medium!"
            [externalUrl]="song.externalUrl!"
            [trackType]="song.trackType"
            [dateCreated]="song.createdTime"
            (selectedSong)="selectedSong($event)">
          </app-song-item>
        </section>
      </section>
    </div>
  </div>
</div>
