<div class="track-item-wrapper" [ngClass]="{'selected': (albumId === id || currentTrackId === id)}">
  <div class="avatar-wrapper" (click)="selectedItem()">
    <div class="play-button-wrapper">
      <div class="play-button">
        <mat-icon *ngIf="!isPlaying || (albumId !== id && currentTrackId !== id)">play_arrow</mat-icon>
        <app-equalizer-icon *ngIf="isPlaying && (albumId === id || currentTrackId === id)"></app-equalizer-icon>
      </div>
    </div>
    <img [src]="avatar" class="avatar">
  </div>
  <div class="info-wrapper">
    <span class="mat-caption">Posted {{dateCreated | dateAgo}}</span>
    <div class="music-info">
      <span class="mat-body-2">{{name}}</span>
      <span>
        <img src="../assets/platforms/{{platform}}.png" class="platform-logo" >
      </span>
    </div>
    <span class="mat-caption">
      <span class="type" *ngIf="trackType === trackTypes.track">
        {{trackTypes[trackType]}} <span *ngIf="length > 0">- {{length | minuteSeconds: durationType}}</span>
      </span>
      <span class="type" *ngIf="trackType !== 'track'">{{trackTypes[trackType]}} - {{totalTracks > 1 ? totalTracks + ' tracks' : totalTracks + ' track'}}</span>
    </span>
  </div>
  <div class="options">
    <button mat-icon-button>
      <mat-icon>more_vert</mat-icon>
    </button>
  </div>
</div>
