@import '../../../../theme/variables.scss';

:host {
  display: block;
  width: 100%;
  height: 100px;
  margin-bottom: $xl-padding-gap;
}

.item {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: $s-padding-gap;

  .avatar-wrapper {
    cursor: pointer;
  }

  .avatar {
    border-radius: 6px;
    width: 100px;
    height: 100px;
  }

  .info-wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  .music-info {
    width: 100%;
    padding: $xs-padding-gap 0 $s-padding-gap 0;
    display: flex;
    flex-direction: column;
  }

  .type {
    text-transform: capitalize;
  }

  .options {
    display: flex;
    align-items: center;
  }
}
