<section class="platform-wrappers sticky-element">
  <div class="component">
    <a mat-icon-button [routerLink]="['/', 'playlist']">
      <mat-icon>arrow_back</mat-icon>
    </a>
  </div>

  <mat-divider></mat-divider>
</section>

<div class="container-fluid" *ngIf="playlistDetail$ | async as playlistDetail">
  <div class="row">
    <div class="col-sm-6 col-md-5 col-lg-4 col-xxl-3">
      <section class="sticky-sub-element playlist-info-section">
        <div class="cover-image-wrapper">
          <a mat-fab color="primary" class="float-fab" [href]="playlistDetail.externalUrl" target="_blank">
            <mat-icon>play_circle</mat-icon>
          </a>
          <img [src]="playlistDetail?.coverImage" class="cover-image">
        </div>

        <div class="playlist-info">
          <span class="mat-headline">
            {{playlistDetail.name}}
          </span>
          <div class="playlist-options">
            <span class="mat-caption">{{playlistDetail.likes}} likes - {{ playlistDetail.totalTracks }} tracks - {{ (totalTrackMinutes$ | async)! | minuteSeconds: durationTypes[playlistDetail.durationType] }}</span>
            <button mat-icon-button [matMenuTriggerFor]="playlistMenu">
              <mat-icon>more_horiz</mat-icon>
            </button>
          </div>
        </div>
        </section>
    </div>
    <div class="col-sm-6 col-md-7  col-lg-8 col-xxl-9">
      <!-- <section class="options-toolbar">
        <div class="mat-body-2">Selected (2)</div>
        <div>
          <button mat-icon-button>
            <mat-icon>swap_horiz</mat-icon>
          </button>

          <button mat-icon-button>
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </section> -->

      <section class="options-toolbar">
        <div class="mat-body-2">Tracks</div>
      </section>
      <mat-divider></mat-divider>
      <mat-selection-list>
        <ng-container *ngFor="let track of playlistDetail.tracks; let i = index">
          <mat-list-option>
            <div class="index">
              <div class="mat-body-2">{{ i + 1}}</div>
              <div class="more-options">
                <button mat-icon-button (click)="stop($event)" [matMenuTriggerFor]="menu">
                  <mat-icon>more_horiz</mat-icon>
                </button>
              </div>
            </div>
            <div class="image">
              <img [src]="track.pictures.medium" width="56" height="56">
            </div>
            <div class="song">
              <span class="mat-body-1">{{ track.name }}</span>
            </div>

            <div class="album">
              <p class="mat-body-1" *ngIf="track.album">{{ track.album.name }}</p>
              <p class="mat-caption">{{ track.artists | joinList: 'name' : ', ' }}</p>
            </div>

            <div class="duration">
              <mat-icon>timelapse</mat-icon>
              <span class="mat-caption">
                {{ track.duration | minuteSeconds: durationTypes[track.durationType] }}
              </span>
            </div>
          </mat-list-option>
          <mat-divider></mat-divider>
        </ng-container>
      </mat-selection-list>
    </div>
    <!-- <div class="col-3">
      <div class="wrapper sticky-sub-element">
        <mat-toolbar class="toolbar-header" color="primary">
          <div>Recent Viewed Playlists</div>
        </mat-toolbar>
        <mat-nav-list>
          <mat-list-item>
            <div class="item-row">
              <div>
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/44/Viva_Hernan.jpg/800px-Viva_Hernan.jpg" width="56" height="56" class="playlist-image">
              </div>
              <div class="info">
                <div mat-line class="mat-caption-platform">Spotify</div>
                <a mat-line href="">Playlist Name (22)</a>
              </div>
            </div>
            <div>
              <mat-divider class="divider"></mat-divider>
            </div>
          </mat-list-item>

          <mat-list-item>
            <div class="item-row">
              <div>
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/44/Viva_Hernan.jpg/800px-Viva_Hernan.jpg" width="56" height="56" class="playlist-image">
              </div>
              <div class="info">
                <div mat-line class="mat-caption">Spotify</div>
                <a mat-line href="">Playlist Name (22)</a>
              </div>
            </div>
            <div>
              <mat-divider class="divider"></mat-divider>
            </div>
          </mat-list-item>

          <mat-list-item>
            <div class="item-row">
              <div>
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/44/Viva_Hernan.jpg/800px-Viva_Hernan.jpg" width="56" height="56" class="playlist-image">
              </div>
              <div class="info">
                <div mat-line class="mat-caption">Spotify</div>
                <a mat-line href="">Playlist Name (22)</a>
              </div>
            </div>
            <div>
              <mat-divider class="divider"></mat-divider>
            </div>
          </mat-list-item>

          <mat-list-item>
            <div class="item-row">
              <div>
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/44/Viva_Hernan.jpg/800px-Viva_Hernan.jpg" width="56" height="56" class="playlist-image">
              </div>
              <div class="info">
                <div mat-line class="mat-caption">Spotify</div>
                <a mat-line href="">Playlist Name (22)</a>
              </div>
            </div>
            <div>
              <mat-divider class="divider"></mat-divider>
            </div>
          </mat-list-item>

          <mat-list-item>
            <div class="item-row">
              <div>
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/44/Viva_Hernan.jpg/800px-Viva_Hernan.jpg" width="56" height="56" class="playlist-image">
              </div>
              <div class="info">
                <div mat-line class="mat-caption">Spotify</div>
                <a mat-line href="">Playlist Name (22)</a>
              </div>
            </div>
            <div>
              <mat-divider class="divider"></mat-divider>
            </div>
          </mat-list-item>
        </mat-nav-list>
      </div>
    </div> -->
  </div>
</div>

<mat-menu #menu="matMenu">
  <button mat-menu-item>
    <mat-icon>search</mat-icon>
    <span>Search On Other Platforms</span>
  </button>
  <button mat-menu-item>
    <mat-icon>play_arrow</mat-icon>
    <span>Play Song</span>
  </button>
</mat-menu>

<mat-menu #playlistMenu="matMenu">
  <button mat-menu-item>
    <mat-icon>edit</mat-icon>
    <span>Edit</span>
  </button>
  <button mat-menu-item>
    <mat-icon>delete</mat-icon>
    <span>Delete</span>
  </button>
  <button mat-menu-item>
    <mat-icon>share</mat-icon>
    <span>Share</span>
  </button>
</mat-menu>
