@import '../../theme/variables.scss';

:host {
  display: block;
}

.container-fluid {
  @include fluid-container();
}

.artist-info {
  padding: 0px 0 10px 0;
}

.track-info {
  padding: 10px 0 10px 0;
}
