@import '../../theme/variables.scss';

:host {
  display: block;
}

.container-fluid {
  @include fluid-container();
}

.playlist-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cover-image-wrapper {
  position: relative;

  .cover-image {
    object-fit: cover;
    max-height: 270px;
    height: auto;
    width: 100%;
    border-radius: 6px;
  }

  .float-fab {
    position: absolute;
    bottom: -20px;
    right: 10px;
  }
}

.mat-headline {
  margin: 0 !important;
}

.options-toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 56px;
  align-items: center;
}

.playlist-info-section {
  margin-top: $padding-gap;
}

::ng-deep mat-selection-list {
  padding: 0 !important;

  .mat-list-item-content {
    padding: 0 $s-padding-gap!important;
    width: 100%;
  }

  .mat-list-text {
    flex-direction: row !important;
    align-items: center;
  }
}

.mat-list-option {
  height: 60px !important;

  &:hover {
    .index {
      .mat-body-2 {
        display: none;
      }

      .more-options {
        display: block;
      }
    }
  }

  .index {
    width: 40px;
    text-align: center;

    .more-options {
      display: none;
    }
  }

  .image {
    width: 60px;
  }

  img {
    border-radius: 4px;
  }

  p {
    margin: 0;
  }

  .song {
    width: 35%;
    padding-left: 6px;
  }

  .album {
    width: 30%;
    display: flex;
    flex-direction: column;
  }

  .duration {
    display: flex;
    align-items: center;

    mat-icon {
      margin-right: 5px;
    }
  }

}

.mat-caption-platform {
  font-size: 11px !important;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.mat-nav-list {
  .mat-list-item {
    height: 72px !important;
    display: flex;
    flex-direction: column;
    width: 100%;

    .item-row {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    .playlist-image {
      border-radius: 4px;
    }

    .divider {
      width: calc(100% - 80px);
      right: 0;
      left: auto;
    }

    .info {
      width: 100%;
      margin-left: 10px;
    }
  }
}

.wrapper {
  width: 100%;
  height: calc(100vh - 250px);
  overflow: auto;

  &::-webkit-scrollbar {
    width: 0;
    background: transparent;
  }
}

.playlist-info {
  display: flex;
  flex-direction: column;
  margin-top: 6px;
}
