@use 'sass:map';
@use '~@angular/material' as mat;

@mixin item-hover($theme) {
  $color-config: mat.get-color-config($theme);
  $background: map.get($theme, 'background');

  .selected,
  .track-item-wrapper:hover {
    background-color:  mat.get-color-from-palette($background, 'hover');
    border-radius: 4px;
  }
}

@mixin selected-item($theme) {
  .selected {
    .mat-caption, .track-name  {
      font-weight: 500;
    }
  }
}

@mixin theme($theme) {
  $color-config: mat.get-color-config($theme);
  @if $color-config != null {
    @include item-hover($theme);
    @include selected-item($theme);
  }
}
