@use 'sass:map';
@use '@angular/material' as mat;

@mixin item-hover($theme) {
  $color-config: mat.get-color-config($theme);
  $accent-palette: map.get($theme, 'accent');

  .now-playing {
    color: mat.get-color-from-palette($accent-palette, 500) !important;
  }
}

@mixin theme($theme) {
  $color-config: mat.get-color-config($theme);
  @if $color-config != null {
    @include item-hover($theme);
  }
}
