<div class="container-fluid">
  <div class="row">
    <div>
      <div class="mat-headline">Playlists</div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3" *ngFor="let playlist of playlist$ | async">
        <app-playlist-item
          [playlistid]="playlist?.id!"
          [externalUrl]="playlist?.externalUrl!"
          [totalTracks]="playlist?.totalTracks!"
          [platform]="playlist.platform"
          [playlistName]="playlist.name"
          [coverImage]="playlist.coverImage!">
        </app-playlist-item>
    </div>
  </div>
</div>
