<section class="track-item-wrapper" [ngClass]="{'selected': currentTrackId === id}">
  <div class="info" (click)="selectedItem()">
    <div *ngIf="avatar" class="avatar-wrapper">
      <div class="play-button-wrapper">
        <div class="play-button">
          <mat-icon *ngIf="!isPlaying || currentTrackId !== id">play_arrow</mat-icon>
          <app-equalizer-icon *ngIf="isPlaying && currentTrackId === id"></app-equalizer-icon>
        </div>
      </div>
      <img [src]="avatar" class="avatar">
    </div>
    <div *ngIf="!avatar">{{ index }}.</div>
    <div class="track-name">
      {{ name }}
    </div>
  </div>

  <div class="options" >
    <span class="track-time">{{length | minuteSeconds: durationType}}</span>
    <app-track-mat-menu (addToPlaylist)="addToPlaylist()"></app-track-mat-menu>
  </div>
</section>
