@import '../../../../theme/variables.scss';

:host {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 48px;
  margin-bottom: $xs-padding-gap;
  padding: 0 $s-padding-gap;
  border-radius: 6px;
}

:host:hover {
  background-color: #f4f4f4;
  cursor: pointer;
}

.info {
  display: flex;
  flex-direction: row;
  align-items: center;

  .track-name {
    padding-left: $xs-padding-gap;
  }
}
.avatar {
  border-radius: 6px;
  width: auto;
  height: 48px;
}

.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 120px;
}
