@import '../../../../theme/variables.scss';

:host {
  display: block;
}

.track-item-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 48px;
  margin-bottom: $xs-padding-gap;
  padding: 0 $s-padding-gap 0 0;
  border-radius: 6px;
}

.info {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;

  .avatar {
    border-radius: 6px;
    width: auto;
    height: 48px;
  }

  .track-name {
    padding-left: $xs-padding-gap;
    padding-right: $xs-padding-gap;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 120px;
}
