@import '../../../../theme/variables.scss';

:host {
  display: block;
}

.track-item-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 48px;
  margin-bottom: $xs-padding-gap;
  padding: 0 $s-padding-gap 0 0;
  border-radius: 6px;
}

.track-item-wrapper.selected,
.track-item-wrapper:hover {
  .play-button-wrapper {
    display: flex;
  }
}

.info {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;

  .avatar {
    border-radius: 6px;
    width: auto;
    height: 48px;
  }

  .track-name {
    padding-left: $xs-padding-gap;
    padding-right: $xs-padding-gap;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.avatar-wrapper {
  position: relative;

  .play-button-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;

    .play-button {
      border-radius: 50%;
      width: 40px;
      height: 40px;
      background-color: rgba(196, 196, 196, 0.75);
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 120px;
}
