<mat-divider></mat-divider>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-5 col-lg-3">
      <section class="sticky-element">
        <app-artist-avatar [genres]="(artistGenres$ | async)!" [avatar]="(profileDetails$ | async)?.pictures?.large!" [artistName]="artist"></app-artist-avatar>
      </section>
    </div>
    <div class="col-md-7 col-lg-9">
      <section class="sticky-element platform-sections">
        <app-platform-selection [connectedServices$]="connectedServices$" (selectedPlatform)="selectedPlatform($event)"></app-platform-selection>
      </section>
      <ng-container  *ngIf="(songs$ | async) as songs">
        <section class="song-list" *ngIf="songs?.length! > 0">
          <app-song-item
            *ngFor="let song of songs"
            [currentTrackId]="(currentTrack$ | async)?.id!"
            [albumId]="(currentTrack$ | async)?.albumid!"
            [isPlaying]="(currentTrack$ | async)?.isPlaying!"
            [name]="song.name"
            [id]="song.id"
            [length]="song.duration"
            [durationType]="song.durationType"
            [totalTracks]="song.totalTracks"
            [platform]="song.platform"
            [avatar]="song?.pictures?.medium!"
            [externalUrl]="song.externalUrl!"
            [trackType]="song.trackType"
            [dateCreated]="song.createdTime"
            (addToPlaylistEvent)="addToPlayList()"
            (selectedSong)="selectedSong($event)">
          </app-song-item>
        </section>
        <app-empty-results
          [message]="'No tracks or albums'"
          *ngIf="songs?.length === 0 && (loading$ | async) === false">
        </app-empty-results>
      </ng-container>

    </div>
  </div>
</div>
