<section *ngIf="profileDetails$ | async as profileDetails">
  <img [src]="profileDetails.pictures.large" >

  <span>{{artist}}</span>
</section>

<section class="songs-list-wrapper">
  <app-platform-selection [connectedServices$]="connectedServices$" (selectedPlatform)="selectedPlatform($event)"></app-platform-selection>
  <section class="song-list">
    <app-song-item
      *ngFor="let song of songs$ | async"
      [name]="song.name"
      [id]="song.id"
      [length]="song.length"
      [totalTracks]="song.totalTracks"
      [platform]="song.platform"
      [avatar]="song.pictures.medium"
      [externalUrl]="song.externalUrl!"
      [trackType]="song.trackType"
      [dateCreated]="song.createdTime"
      (selectedSong)="selectedSong($event)">
    </app-song-item>
  </section>
</section>
