<section *ngIf="profileDetails$ | async as profileDetails">
  <img [src]="profileDetails.pictures.large" >

  <span>{{artist}}</span>
</section>

<section  style="width: 100%;  height: 100%;">
  <app-platform-selection [connectedServices$]="connectedServices$" (selectedPlatform)="selectedPlatform($event)"></app-platform-selection>

  <section class="song-list">
    <app-song-item
      *ngFor="let song of songs$ | async"
      [name]="song.name"
      [id]="song.id"
      [length]="song.length"
      [externalUrl]="song.externalUrl!"
      [trackType]="song.trackType"
      (selectedSong)="selectedSong($event)">
    </app-song-item>
  </section>
</section>
