<section>
  <figure>
    <img class="background" src="{{ coverImage }}" *ngIf="coverImage">
    <img src="../../../../assets/no-music.svg" class="avatar background" *ngIf="!coverImage">
    <div class="overlay">
      <!-- <div *ngIf="dateCreated">Posted: {{dateCreated | dateAgo}}</div> -->
      <div class="options">
        <!-- <button mat-icon-button color="primary" (click)="addToPlaylist()">
          <mat-icon>playlist_add</mat-icon>
        </button>

        <button mat-icon-button color="primary"  (click)="selectedItem()">
          <mat-icon>play_arrow</mat-icon>
        </button> -->
      </div>
      <div class="type">
        <!-- <div>{{trackTypes[trackType]}}</div> -->
        <!-- <div class="duration">
          <span class="time" *ngIf="trackType === trackTypes.track">
            <mat-icon>timelapse</mat-icon>
            <span *ngIf="length > 0">{{length | minuteSeconds: durationType}}</span>
          </span>
          <span class="type" *ngIf="trackType !== 'track'">{{totalTracks > 1 ? totalTracks + ' tracks' : totalTracks + ' track'}}</span>
        </div> -->
      </div>
    </div>
  </figure>
  <div class="content-container">
    <div class="mat-body-2 artist-name">{{playlistName}}</div>

    <div class="platform">
      <img src="../assets/platforms/{{platform}}.png" class="platform-logo">
    </div>
  </div>
</section>
