<mat-card class="example-card">
  <img mat-card-image [src]="coverImages[0]" *ngIf="coverImages.length <= 1" class="one-image">

  <div class="grid" mat-card-image *ngIf="coverImages.length > 1">
    <div class="player"><img [src]="coverImages[0]"></div>
    <div class="player"><img [src]="coverImages[1]"></div>
    <div class="player"><img [src]="coverImages[2]"></div>
    <div class="player"><img [src]="coverImages[3]"></div>
  </div>

  <mat-card-content>
    <p class="mat-title">{{playlistName}}</p>
  </mat-card-content>
</mat-card>
