<mat-toolbar class="example-header" color="primary">
  <button mat-icon-button (click)="snav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  Header
</mat-toolbar>

<mat-sidenav-container class="example-container">
  <mat-sidenav
    #snav
    [opened]="(isMobile$ | async) ? false : true"
    [mode]="(isMobile$ | async) ? 'over' : 'side'"
    class="example-sidenav"
    [fixedInViewport]="false">

    <a mat-button [routerLink]="['/', 'profile']" [routerLinkActive]="['active-bottom-link']">
      <div class="menu-button-layout">
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </div>
    </a>

    <a mat-button [routerLink]="['/', 'profile']" [routerLinkActive]="['active-bottom-link']">
      <div class="menu-button-layout">
        <mat-icon>queue_music</mat-icon>
        <span>Playlist</span>
      </div>
    </a>

    <a mat-button [routerLink]="['/', 'artists']" [routerLinkActive]="['active-bottom-link']">
      <div class="menu-button-layout">
        <mat-icon>music_note</mat-icon>
        <span>Artists</span>
      </div>
    </a>

    <a mat-button [routerLink]="['/', 'platform-settings']" [routerLinkActive]="['active-bottom-link']">
      <div class="menu-button-layout">
        <mat-icon>link</mat-icon>
        <span>Platforms</span>
      </div>
    </a>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
<div *ngIf="currentTrackSelected$ | async" class="player-bar-container">
  <app-player-bar [streamUrl]="(mixcloudAudio$ | async)!.url"></app-player-bar>
</div>
