<mat-toolbar class="toolbar-header">
  <button mat-icon-button (click)="snav.toggle()" *ngIf="isMobile$ | async">
    <mat-icon>menu</mat-icon>
  </button>
  <div class="header-wrapper">
    <div>Logo Go here</div>
    <div class="search-container">
      <div class="search-field">
        <mat-icon class="search-icon">search</mat-icon>
        <input [class.mat-elevation-z1]="focusField" type="text" (focus)="focusSearchField()" (blur)="unFocusSearchField()" (keyup.enter)="submitSearch()" autocomplete="none" class="search-field-input" placeholder="Search for artists and tracks" [formControl]="searchControl">
        <mat-progress-bar mode="indeterminate" *ngIf="searchLoading$ | async"></mat-progress-bar>
      </div>
    </div>
    <div class="options">
      <img [src]="(user$ | async)?.photoURL" class="avatar">
    </div>
  </div>
</mat-toolbar>

<mat-sidenav-container class="side-menu-nav">
  <mat-sidenav
    #snav
    [opened]="(isMobile$ | async) ? false : true"
    [mode]="(isMobile$ | async) ? 'over' : 'side'"
    class="menu-nav"
    [fixedInViewport]="false">

    <!-- <a mat-button [routerLink]="['/', 'profile']" [routerLinkActive]="['active-link']" class="link">
      <div class="menu-button-layout">
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </div>
    </a> -->

    <a mat-button [routerLink]="['/', 'artists']" [routerLinkActive]="['active-link']" class="link">
      <div class="menu-button-layout">
        <mat-icon>music_note</mat-icon>
        <span>Artists</span>
      </div>
    </a>

    <a mat-button [routerLink]="['/', 'playlist']" [routerLinkActive]="['active-link']" class="link">
      <div class="menu-button-layout">
        <mat-icon>queue_music</mat-icon>
        <span>Playlists</span>
      </div>
    </a>

    <a mat-button [routerLink]="['/', 'platform-settings']" [routerLinkActive]="['active-link']" class="link">
      <div class="menu-button-layout">
        <mat-icon>link</mat-icon>
        <span>Platforms</span>
      </div>
    </a>
  </mat-sidenav>

  <mat-sidenav-content>
    <main class="main-container">
      <div id="app-content">
        <router-outlet #outlet="outlet"></router-outlet>
      </div>
      <section *ngIf="currentTrackSelected$ | async" class="blank-bar-container"></section>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
<div *ngIf="currentTrackSelected$ | async" class="player-bar-container">
  <app-player-bar *ngIf="(currentTrack$ | async)?.platform === platformTypes.mixcloud"
    (trackReady)="trackHistory($event)"
    [currentTrack$]="currentTrack$!">
  </app-player-bar>

  <app-spotify-player (trackReady)="trackHistory($event)"
    *ngIf="(currentTrack$ | async)?.platform === platformTypes.spotify">
  </app-spotify-player>

  <app-soundcloud-bar (trackReady)="trackHistory($event)"
    *ngIf="(currentTrack$ | async)?.platform === platformTypes.soundcloud">
  </app-soundcloud-bar>
</div>
