:host {
  display: block;
  margin-bottom: 16px;
}

img {
  max-height: 225px;
  object-fit: cover;
}

.example-card {
  width: 100%;
  position: relative;
}

.chip-label {
  text-transform: capitalize;
}

.text-ellipsis {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
