<mat-slider
class="slider"
color="primary"
[disabled]="loading || disabled"
(change)="sliderChangeHandler($event)"
(input)="sliderInputHandler($event)"
[step]="1"
min="0"
[value]="progress"
[max]="rawDuration">
</mat-slider>

<section class="audio-bar-wrapper" [ngClass]="{'loading': loading}">
  <section class="playback-actions">
    <button mat-icon-button class="skip-previous">
      <mat-icon>skip_previous</mat-icon>
    </button>
    <button (click)="playHandler()" mat-fab color="primary" *ngIf="!isPlaying || loading" class="play-button" [disabled]="loading || playSongLoading">
      <mat-icon>play_arrow</mat-icon>
    </button>
    <button (click)="pauseHandler()" mat-fab color="primary" *ngIf="isPlaying && !loading" [disabled]="loading">
      <mat-icon>pause</mat-icon>
    </button>
    <button mat-icon-button class="skip-next">
      <mat-icon>skip_next</mat-icon>
    </button>
    <span class="mat-body-2 duration">
      {{currentTimer | minuteSeconds: durationTypes[durationType]}}/{{rawDuration | minuteSeconds: durationTypes[durationType]}}
    </span>
  </section>

  <section class="music-info">
    <img [src]=" avatar" class="music-avatar">
    <div class="loading-avatar"></div>
    <div class="music-details">
      <span class="mat-body-1 text-ellipsis">{{name}}</span>
      <span class="platform">
        <img src="../../../assets/platforms/{{platform}}.png" class="platform-logo" width="50">
      </span>
      <div class="artist">
        <app-artist-links [platform]="platform" [artist]="artist" *ngIf="!loading"></app-artist-links>
      </div>
    </div>
  </section>

  <div class="options-wrapper">
    <div class="options">
      <!-- <button mat-icon-button color="primary">
        <mat-icon>library_music</mat-icon>
      </button> -->

      <button mat-icon-button color="primary">
        <mat-icon>playlist_add</mat-icon>
      </button>

      <button mat-icon-button color="primary" (click)="closeHandler()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
</section>
