<mat-slider color="primary" class="slider"></mat-slider>

<section class="wrapper" [ngClass]="{'loading': (loading$ | async)}">
  <section class="playback-actions">
    <button mat-icon-button (click)="play()" class="skip-previous">
      <mat-icon>skip_previous</mat-icon>
    </button>
    <button (click)="play()" mat-fab color="primary" *ngIf="(isPlaying$ | async) === false" class="play-button">
      <mat-icon>play_arrow</mat-icon>
    </button>
    <button (click)="pause()" mat-fab color="primary" *ngIf="isPlaying$ | async">
      <mat-icon>pause</mat-icon>
    </button>
    <button mat-icon-button (click)="stop()" class="skip-next">
      <mat-icon>skip_next</mat-icon>
    </button>
    <span class="mat-body-2 duration">0:23/3:43</span>
  </section>

  <section class="music-info">
    <img [src]=" currentTrack.avatar" class="music-avatar">
    <div class="loading-avatar"></div>
    <div class="music-details">
      <span class="mat-body-1">{{currentTrack.name}}</span>
      <span class="mat-caption">{{currentTrack.artist}}</span>
    </div>
  </section>
</section>
